* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  background-color: seashell;
  color: #2e2420;
  overflow-x: hidden;
}
p {
  margin: 0.5rem 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #cb5834;
}
a:visited {
  color: #d69469;
}
.App {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  position: relative;
}

.content {
  padding: 1rem 2rem;
  margin-top: 15vh;
  margin-bottom: 16vh;
  align-self: center;
  overflow-wrap: break-word;
}

/* navbar */

.navbar {
  position: fixed;
  z-index: 999;
  background-color: seashell;
  margin-top: 0;
  padding: 2rem 0;
  display: flex;
  /* gap: 2rem; */
  justify-content: space-between;
  width: 100%;
  max-height: 15vh;
  margin-bottom: 1rem;
}

.navbar h3 {
  border-bottom: 3px solid #cb5834;
  display: block;
  padding-left: 2rem;
  max-width: 40%;
  /* font-size: clamp(1.2rem, 1.6rem, 2rem); */
}

nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.navbar a {
  text-decoration: none;
  align-self: center;
  padding: 1rem;
  border-radius: 4px;
  color: #2e2420;
  font-size: clamp(1.2rem, 1.6rem, 2rem);
}
.navbar a:hover {
  color: #cb5834;
}
.navbar a.active {
  background: #c0acac;
  color: #f5f6f3;
}

/*components*/
.help-app a {
  padding: 10px;
  border-radius: 4px;
}

.help-app nav {
  margin: 3rem 2rem;
}

/* home page */
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  font-size: clamp(1.2rem, 1.6rem, 2rem);
}
.welcome {
  padding-top: 2rem;
}
.playing,
.card-part,
.white {
  width: 80%;
  margin: auto;
}
.img-playing-container,
.photos {
  background-color: white;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
}
.white {
  background-color: white;
  padding: 2rem;
  border: 2px solid black;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4);
}
.all-games {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  max-width: 100%;
  margin: auto -4rem;
  background-image: linear-gradient(
      rgba(245, 78, 245, 0.8),
      rgba(247, 215, 127, 0.8)
    ),
    url("./components/assets/alphabet.jpeg");
  border: 2px solid black;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4);
}

.overlay {
  font-weight: bold;
  text-align: right;
  font-size: clamp(1rem, 1.4rem, 1.8rem);
}

/*  search-form */
form {
  margin-top: 1rem;
}
form input,
form label span,
.search-button {
  display: block;
}
form input,
form select,
textarea {
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: #cb5834;
}
form label span {
  margin-bottom: 0.5rem;
}

button {
  width: 300px;
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: #cb5834;
  cursor: pointer;
}

button:hover {
  background: #d69469;
}

.add-game button {
  display: flex;
}

.add {
  display: flex;
  justify-content: space-between;
}
.fileInput {
  display: flex;
  flex-direction: column;
}
.upload:hover {
  color: #cb5834;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.nameinfo {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.nameinfo > svg {
  margin-right: 0.25rem;
}

.errorMessage {
  background-color: white;
  color: red;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.rules {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}

.image-container {
  max-width: 90%;
  background-color: white;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #cb5834;
}

.favorites {
  display: flex;
  justify-content: space-around;
}
.favoritesContainer {
  max-width: 50%;
}

img {
  width: 100%;
}

.game-name {
  text-align: center;
  padding: 0.5rem 1rem;
}
table {
  background-color: white;
  padding: 2rem;
  max-width: 90%;
  border: 1px solid #cb5834;
}
.game-rules {
  max-width: 90%;
  border: 1px solid #cb5834;
  padding: 1rem;
}

.game {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  max-width: 90%;
  margin: auto;
}
.games-cards {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.games-cards h2 {
  align-self: center;
  padding-bottom: 1rem;
}

.game-list {
  max-width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.game-card {
  max-width: 15rem;
}

.register-section {
  display: flex;
  max-width: 80%;
  margin: auto;
  align-items: center;
  flex-direction: column;
}
.container-footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: #cb5834;
  height: 15vh;
  padding: 1rem 2rem;
}

@media screen and (max-width: 900px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  /* .navbar a {
    margin: auto 1rem;
  } */
  nav {
    width: 100%;
    padding: 1rem 2rem;
  }
  .navbar h3 {
    max-width: 100%;
  }
  .white {
    padding: 1rem;
  }
  .all-games {
    min-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  nav {
    width: 100%;
    padding: 1rem 2rem;
  }

  .navbar a {
    font-size: 18px;
  }
  .navbar h3 {
    padding-top: 2rem;
    max-width: 100%;
  }
  .home {
    grid-template-columns: 1fr;
  }
  .all-games {
    min-width: 100%;
    align-items: center;
    margin: auto;
  }
  .overlay {
    max-width: 100%;
  }
  .playing,
  .card-part,
  .white {
    width: 90%;
  }
  .white {
    padding: 2rem;
  }
}
